@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,900&display=swap');

body {
  margin: 0;
  font-family: "Noto Sans Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(135deg, #ffc400, #f47825);
  backdrop-filter: blur(10px);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
